In [15]:
import requests
from dotenv import load_dotenv
import os
import tmdbsimple as tmdb
import pandas as pd

In [12]:
# Load environment variables from .env file
load_dotenv()

# Access the environment variables
api_key = os.getenv('tmdb_key')

In [41]:
df = pd.read_csv("Content_full.csv")
df.head(n=29)

,Content,Dates,Bold,Italic,Short,AllCaps,Quoted,Year
0,TMFU “The Special Sceptre Affair”,01/02,0,0,0,0,1,2011
1,FUNERAL IN BERLIN,01/02,0,0,0,1,0,2011
2,THE,01/03,0,0,0,1,0,2011
3,TMFU “The Bow-Wow Affair”,01/05,0,0,0,0,1,2011
4,TMFU “The Brain-Killer Affair”,01/07,0,0,0,0,1,2011
5,TMFU “The Hong Kong Shilling Affair”,01/08,0,0,0,0,1,2011
6,TMFU “The Gazebo in the Maze Affair”,01/12,0,0,0,0,1,2011
7,HAYWIRE,01/12,0,0,0,1,0,2011
8,DAYS,01/16,0,0,0,1,0,2011
9,TMFU “The Girls of Navarone Affair”,01/17,0,0,0,0,1,2011
10,SENTIMENTAL EDUCATION,01/18,0,0,0,1,0,2011
11,MY NAME IS RED,01/20,0,0,0,1,0,2011
12,CHIMES AT,01/20,0,0,0,1,0,2011
13,THE,01/21,0,0,0,1,0,2011
14,ALL,01/22,0,0,0,1,0,2011
15,END,01/23,0,0,0,1,0,2011
16,BURIED,01/26,0,0,0,1,0,2011
17,HAYWIRE,01/28,0,0,0,1,0,2011
18,THE,01/30,0,0,0,1,0,2011
19,AN OBJECT OF BEAUTY,02/03,0,0,0,1,0,2011
20,DECEPTION,02/04,0,0,0,1,0,2011
21,RIFIFI,02/05,0,0,0,1,0,2011
22,ALL,02/17,0,0,0,1,0,2011
23,THE,02/19,0,0,0,1,0,2011
24,THE,02/20,0,0,0,1,0,2011
25,SWEET,02/22,0,0,0,1,0,2011
26,STAY,02/23,0,0,0,1,0,2011
27,SE7EN,02/26,0,0,0,1,0,2011
28,THE,03/01,0,0,0,1,0,2011

In [10]:
endpoint = 'https://api.themoviedb.org/3/search/movie?query=royal+tenenbaums'
params = {
    'api_key': api_key,
    'language': 'en-US',
    'page': 1
}
response = requests.get(endpoint, params=params)
if response.status_code == 200:
    data = response.json()
    print(data)
else:
    print(f'Request failed with status code {response.status_code}')

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/g2s22rGjCTCYsjI1iAflem7HjdG.jpg', 'genre_ids': [35, 18], 'id': 9428, 'original_language': 'en', 'original_title': 'The Royal Tenenbaums', 'overview': 'Royal Tenenbaum and his wife Etheline had three children and then they separated. All three children are extraordinary --- all geniuses. Virtually all memory of the brilliance of the young Tenenbaums was subsequently erased by two decades of betrayal, failure, and disaster. Most of this was generally considered to be their father\'s fault. "The Royal Tenenbaums" is the story of the family\'s sudden, unexpected reunion one recent winter.', 'popularity': 19.632, 'poster_path': '/hwklEwhBhLVI6v3ISlquFTeQIml.jpg', 'release_date': '2001-10-05', 'title': 'The Royal Tenenbaums', 'video': False, 'vote_average': 7.5, 'vote_count': 4437}, {'adult': False, 'backdrop_path': '/zrkw8R3mEne3ncgOz4T0frLwl65.jpg', 'genre_ids': [99, 35], 'id': 687170, 'original_language': 'en', 'original_title': "The Peter Bradley Show: 'The Royal Tenenbaums'", 'overview': 'Apparently an attempt to parody the "Charlie Rose" show, here host Peter Bradley interviews 6 (well, 5, since one doesn\'t show up) of the bit players from "The Royal Tenenbaums."', 'popularity': 0.956, 'poster_path': '/2H0tDTOaplSXMgBsg64e79J1cWp.jpg', 'release_date': '2002-07-09', 'title': "The Peter Bradley Show: 'The Royal Tenenbaums'", 'video': False, 'vote_average': 0.0, 'vote_count': 0}], 'total_pages': 1, 'total_results': 2}

In [14]:
tmdb.API_KEY = api_key
tmdb.REQUESTS_TIMEOUT = (2,5)
search = tmdb.Search()
response = search.movie(query='royal tenenbaums')
for s in search.results:
    print(s['title'],s["id"])

The Royal Tenenbaums 9428
The Peter Bradley Show: 'The Royal Tenenbaums' 687170